<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
	<section class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Login</h1>
				<h2 th:if="${error}">エラー</h2>
			</div>

			<form class="login-form" method="post" action="/login/process">
				<div class="control-group">
					<label class="login-field-icon" for="login-name">Username</label>
					<input type="text" class="login-field" value="" placeholder="username" name="username" id="login-name">
				</div>

				<div class="control-group">
					<label class="login-field-icon" for="login-pass">Password</label>
					<input type="password" class="login-field" value="" placeholder="password" name="password" id="login-pass">
				</div>
				<div class="control-group control-position">
					<button class="btn">login</button>
					<a class="login-link" href="#">Lost your password?</a>
				</div>


			</form>
		</div>
	</section>
</body>

</html>